@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');


h1 {
    font-family: "Cal Sans", sans-serif; // Use the font directly
    letter-spacing: 3px;
}


.job-title {
    text-align: justify;
    letter-spacing: 5px;
}
.definition{
    letter-spacing: 1px;
}